body {
	/*background-color: #0f0e11;*/
	margin: 0;
	min-height: 100vh;
/*			height: 1080px;*/
	font-family: BigNoodleTooOblique, sans-serif;
	font-size: 19px;
	color: #fff;
	background: url(doomguy_text.png), #0f0e11;
	background-position: center 100%;
	background-repeat: no-repeat;
	transition: background-position 1s;
}

iframe {
	border: none;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#site_header {
	height: 50px;
	background: #4b367c;
	padding: 0 20px;
	line-height: 50px;
	font-size: 28px !important;
}

#site_content {
	display: flex;
	flex-direction: row;
}

.col {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#main_content {
	flex: auto;
	/*padding: 20px;*/
}

#right_sidebar {
	border-left: 1px solid hsla(0,0%,100%,.05)!important;
	width: 340px;
	/*position: relative;*/
}

.button {
	display: inline-block;
	color: #fff;
	border: none;
	border-radius: 4px !important;
	background-color: #6441a4;
	width: fit-content;
	padding: 4px 24px;
	margin: 8px;
	cursor: pointer;
	/*font-size: 20px;*/
	text-decoration: none;
	font-family: BigNoodleTooOblique, sans-serif;
}

#player_mixer,
#player_youtube,
#chat_goodgame,
#chat_mixer,
#chat_youtube {
	display: none;
}

.dropbtn {
	background-color: #4b367c;
	color: #fff;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	float: right;
}

.dropdown .button {
	background: #302e33;
	color: #b19dd8;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
	cursor: pointer !important;
}

#buttons a {
	text-decoration: none !important;
	color: #fff !important;
}

.dropdown-content div {
	background-color: #19171c;
	padding: 4px 0;
	display: block;
}

#buttons>*:hover {
	opacity: 0.7;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {/*background-color: #3e8e41;*/}

#site_content .glyphicon {
	font-size: 15px;
}

#info {
	border-top: 1px solid hsla(0,0%,100%,.05);
	margin: 4px 0;
	padding: 8px 0;
}

#info span {
	margin-left: 8px;
	margin-right: 20px;
}
/*
#game {
	float: left;
}*/

#viewers {
	float: right;
}

#site_footer {
	height: 50px;
	background: #232127;
	margin-top: 400px;
	line-height: 50px;
	text-align: center;
}

@font-face {
	font-family: BigNoodleTooOblique;
	src: url(BigNoodleTooOblique.ttf);
}

@media screen and (max-width: 500px) {
/*			#site_content {
		display: block !important;
		flex-direction: column;
	}

	#main_content {
		width: 100%;
		float: left;
	}

	#right_sidebar {
		width: 100%;
		height: 600px;
		float: left;
	}*/
}